html {
  background: #f8f7f7;
}
.sidebar {
  display: grid;
  background-color: #dddddd;
  width: 15vw;
  height: 100vh;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 2%;
  justify-content: center;
  float: left;
  /* margin: 0 1.5%; */
  /* width: 63%; */
}

ul {
  margin-top: 30vh;
  /* display: grid; */
}

.reviews {
  float: left;
  margin-top: 5%;
  margin-left: 20px;
  width: 18vw;
  height: 40vh;
  background-color: #dddddd;
}

.average {
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-left: 20px;
  width: 18vw;
  height: 40vh;
  background-color: #dddddd;
}

h4 {
  display: flex;
  justify-content: center;
}

.sentiment {
  float: right;
  margin-top: 5%;
  margin-right: 25vw;
  width: 18vw;
  height: 40vh;
  background-color: #dddddd;
}

.website {
  display: grid;
  background-color: #dddddd;
  width: 56vw;
  height: 57vh;
  margin-bottom: 2%;
  margin-top: 0%;
  margin-left: 19%;

}

.box {
  background-color: #bfbebd;
  margin-left: 15%;
  width: 40vw;
  height: 30vh;
}